<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head ('Tarefas > Inserir ou Atualizar uma Tarefa')}"></head>


<body >
  <div class="p-3 mb-2 bg-info bg-gradient text-dark">
    <header th:replace="~{fragmentos :: navBar}"></header>
      <div class="p-3  mt-3 mb-2 bg-secondary bg-gradient text-dark">
        <div class="container mt-5">
          <div class="row mt-3 mb-5 justify-content-center">
            <div class="col-8">
            <div class="">Relação das Tarefas</div>
            <div class="card-body">
          
            <form th:action="@{/tarefas}" method="post" th:object="${tarefa}">
                  <input type="hidden" th:field="*{id}">
                 <div class="row">
                  <div class="row mt-3 mb-5">
                    <div class="col-8"> 
                      <label for="nome">Nome da Tarefa:</label>
                      <input type="text"  id="nome" class="form-control" th:field="*{nome}"/> 
                      
            
                  <div class="row mt-3 mb-5">
                    <label for="FiltroStatus"> Filtrar Status:</label>
                   
                    <div class="col-8"></div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox"  name="FiltroStatus" id="chkPendente" th:value="${T(br.com.ml.gerenciadortask.model.enums.FiltroStatus).PENDENTE}"  th:field="*{filtrosStatus}" />
                    <label class="form-check-label" for="chkPendente">Pendente</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="FiltroStatus" id="chkProgresso" th:value="${T(br.com.ml.gerenciadortask.model.enums.FiltroStatus).PROGRESSO}"  th:field="*{filtrosStatus}" />
                    <label class="form-check-label" for="chkProgresso">Progresso</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="FiltroStatus" id="chkCancelada" th:value="${T(br.com.ml.gerenciadortask.model.enums.FiltroStatus).CANCELADA}"  th:field="*{filtrosStatus}" />
                    <label class="form-check-label" for="chkCancelada">Cancelada</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox"  name="FiltroStatus" id="chkConcluida" th:value="${T(br.com.ml.gerenciadortask.model.enums.FiltroStatus).CANCELADA}"  th:field="*{filtrosStatus}"/>
                    <label class="form-check-label" for="chkConcluida">Concluida</label>
                  </div>
               </div>
              </div>
          
                <div class="row mt-3 mb-5">
                  <div class="col-4"> 
                    <label for="dataConclusao">Data de Conclusão:</label>
                    <input type="date" class="form-control" id="dataConclusao" name="Dataconclusao" placeholder="Dataconclusao.." value="dataConclusao" th:field="*{dataConclusao}"  />
                  </div>
                 </div>
            
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <button href="/tarefas" class="btn btn-warning">Voltar</button>  
                </div>
              </div>
            </form>

            <div class="p-3  mt-3 mb-2 bg-secondary bg-gradient text-dark"> 
              <div class="row mt-3 mb-5 ">
              <footer>
                <p class="copyright">&copy; Copyright Marcelina Lima - Programa Transforme-se 2023 - Projeto final Spring Boot Java- Gerenciador de Tarefas- </p>
              </footer>
              </div>
            </div>
          </div>
        </div>
      </div> 
     </div>  
    </div>  
  </div>
    
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
      
</body>
</html>

               