<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head ('Tarefas')}"></head>

  <body>
    <div class="p-3 mb-2 bg-info bg-gradient text-dark">
  
      <header th:replace="~{fragmentos :: navBar}"></header>
  
      <div class="container">
        <div class="p-3 mb-2 bg-info bg-gradient text-dark">
           <h1> Que legal ter você aqui!</h1>
           <p> Você gostaria de fazer de deixar uma task? </p>
        </div>
      </div>
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    </div>
  </body>
 
</html>

