<!DOCTYPE html>
<html lang="pt-br">

  <head th:replace="~{fragmentos :: head ('Tarefas > Todas as Tarefas')}"></head>

  <body>
    <div class="p-3 mb-2 bg-info bg-gradient text-dark">
    <header th:replace="~{fragmentos :: navBar}"></header>
    <div class="p-3  mt-3 mb-2 bg-secondary bg-gradient text-dark">   
      <div class="conteiner mt-5">
        <div class="card-body">
      <div class="row mt-3 mb-5 justify-content-center">
        <div class="col-8">
        <h3>Tarefas Listadas</h3>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">DataConclusao</th>
              <th scope="col">FiltroStatus</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="tarefa : ${tarefas}">
              <td th:text="${tarefa.id}"></td>
              <td th:text="${tarefa.nome}"></td>
              <td th:text="${tarefa.dataConclusao}"></td>
              <td th:text="${tarefa.filtrosStatus}"></td>  
              <th>
                 <a th:href="@{tarefas/formulario-tarefa(id=${tarefa.id})}" class="btn btn-warning">Editar</a> 
                 <a th:href="@{tarefas/remover(id=${tarefa.id})}" class="btn btn-danger">Excluir</a> 
              </th>
            </tr>  
          </tbody>
        </table>
        <div class="p-3  mt-3 mb-2 bg-secondary bg-gradient text-dark"> 
          <div class="row mt-3 mb-5 justify-content-center">
          <footer>
            <p class="copyright">&copy; Copyright Marcelina Lima - Programa Transforme-se 2023 - Spring Boot Java- Gerenciador de Tarefas- </p>
          </footer>
          </div>
        </div> 
        </div>
        </div>
      </div> 
    </div> 
    </div>
    
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    </div>
  </body>
</html>